@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --dark-hard: rgb(20, 25, 31);
  --dark-hover: rgb(39, 49, 61);
  --dark-medium: rgb(29, 35, 42);
  --dark-light: rgb(52, 63, 75);
  --gray: rgb(224, 224, 224);
  --yellow: rgb(214, 161, 0);
  /* Fonts & Typography */
  --title: "League Spartan", Arial, Helvetica, sans-serif;
  --text: "Roboto", Arial, Helvetica, sans-serif;
  /* Length values */
  --max-width: 1300px;
  --padding-inline: 12px;
  /* Other values */
  --transition: 250ms ease;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--text);
  font-size: 100%;
  color: var(--white);
  background-color: var(--dark-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.wrapper {
  padding-inline: var(--padding-inline);
  margin-inline: auto;
  max-width: min(100%, var(--max-width));
}

/* 
==============================
  HEADER
==============================
*/
.header {
  font-size: 0.9rem;
}

/* topbar */
.topbar {
  height: 48px;
  background-color: var(--dark-hard);
}

.topbar__container {
  height: 100%;
  max-width: min(100%, var(--max-width));
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.topbar__change-country {
  padding-inline: var(--padding-inline);
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--transition);
}

.topbar__change-country:hover {
  background-color: var(--dark-hover);
}

.globe__icon {
}

.topbar__text {
}
/* end topbar */

/* header nav */
.navigation {
}

.navigation__container {
  height: 64px;
  border-block-end: 0.5px solid var(--dark-light);
}

.navigation__container > .navigation__wrapper {
  width: min(100%, var(--max-width));
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-inline: var(--padding-inline);
}

.nav__list {
  display: none;
}

.nav__buttons {
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
}

.nav__buttons-search {
  flex: 50%;
  width: 100%;
  height: 100%;
  transition: background-color var(--transition);
}

.nav__buttons-search:hover {
  background-color: var(--dark-hover);
}

.nav__buttons-menu {
  flex: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color var(--transition);
}

.nav__buttons-menu:hover,
.nav__buttons-menu.change-bg {
  background-color: var(--yellow);
}

.bar-1,
.bar-2 {
  width: 20px;
  height: 1.6px;
  background-color: var(--white);
  transition: all var(--transition);
}

.nav__buttons-menu:hover .bar-1,
.nav__buttons-menu:hover .bar-2 {
  background-color: var(--dark-hard);
}

.bar-1.active {
  transform: translate(0, 1px) rotate(-45deg);
  background-color: var(--dark-hard);
}

.bar-2.active {
  transform: translate(0, -9px) rotate(45deg);
  background-color: var(--dark-hard);
}

.mobile__navigation-container ul {
  display: none;
}

.mobile__navigation-container.active ul {
  display: block;
}

.mobile__navigation-container ul li {
  border-block-end: 0.5px solid var(--dark-light);
}

.mobile__navigation-container ul li:first-child {
  border-inline-start: 4px solid var(--yellow);
}

.mobile__navigation-container ul li:first-child a {
  padding-inline-start: calc((var(--padding-inline) * 2) - 4px);
}

.mobile__navigation-container ul li a {
  width: 100%;
  padding-inline: calc(var(--padding-inline) * 2);
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--transition);
}

.mobile__navigation-container ul li a:hover {
  background-color: var(--dark-hover);
}
/* end header nav */

/* 
==============================
  MAIN
==============================
*/
.main {
  width: 100%;
  height: 1000px;
  padding: 1rem;
}

/* 
==============================
  FOOTER
==============================
*/

/* 
==============================
  BREAKPOINTS
==============================
*/
@media (min-width: 960px) {
  .nav__list {
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav__list ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list li {
    height: 100%;
    padding-inline: var(--padding-inline);
    transition: background-color var(--transition);
  }

  .nav__list li:hover {
    background-color: var(--dark-hover);
  }

  .nav__list li a {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list li:first-child {
    border-block-end: 4px solid var(--yellow);
  }

  .nav__list li:first-child a {
    transform: translateY(4px);
  }

  .nav__buttons {
    width: 64px;
  }

  .nav__buttons-menu {
    display: none;
  }
}
