@import url(/assets/css/reset.css);

/* 
==============================
  VARIABLES
==============================
*/
:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --dark-hard: rgb(20, 25, 31);
  --dark-hover: rgb(39, 49, 61);
  --dark-medium: rgb(29, 35, 42);
  --dark-light: rgb(52, 63, 75);
  --gray: rgb(224, 224, 224);
  --yellow: rgb(214, 161, 0);
  --overlay-bg: rgba(0, 0, 0, 0.5);
  /* Fonts & Typography */
  --title: "League Spartan", Arial, Helvetica, sans-serif;
  --text: "Roboto", Arial, Helvetica, sans-serif;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  /* Length values */
  --max-width: 1300px;
  --padding-inline: 12px;
  --margin-bottom: 36px;
  /* Other values */
  --transition: 250ms ease;
  --radius: 16px;
  --radius-small: 14px;
  --radius-smaller: 8px;
}

/* 
==============================
  BASE
==============================
*/
body {
  font-family: var(--text);
  font-size: 100%;
  font-weight: 300;
  line-height: 1.65;
  color: var(--white);
  background-color: var(--dark-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
}

h2 {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: 500;
  line-height: 1.5;
  margin-block: var(--margin-bottom);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 500;
  line-height: 1.1;
}

/* 
==============================
  REUSABLE CLASSES
==============================
*/
.wrapper {
  padding-inline: var(--padding-inline);
  margin-inline: auto;
  max-width: min(100%, var(--max-width));
}

.link {
  font-size: initial;
  font-weight: 400;
  text-decoration: underline;
}

/* 
==============================
  HEADER
==============================
*/
.header {
  font-size: 0.9rem;
}

/* topbar */
.topbar {
  height: 48px;
  background-color: var(--dark-hard);
}

.topbar__container {
  height: 100%;
  max-width: min(100%, var(--max-width));
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.topbar__change-country {
  padding-inline: var(--padding-inline);
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--transition);
}

.topbar__change-country:hover {
  background-color: var(--dark-hover);
}
/* end topbar */

/* header nav */
.navigation__container {
  height: 64px;
  border-block-end: 0.5px solid var(--dark-light);
}

.navigation__container > .navigation__wrapper {
  width: min(100%, var(--max-width));
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-inline: var(--padding-inline);
}

.nav__list {
  display: none;
}

.nav__buttons {
  height: 100%;
  width: 130px;
  display: flex;
  align-items: center;
}

.nav__buttons-search {
  flex: 50%;
  width: 100%;
  height: 100%;
  transition: background-color var(--transition);
}

.nav__buttons-search:hover {
  background-color: var(--dark-hover);
}

.nav__buttons-menu {
  flex: 50%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color var(--transition);
}

.nav__buttons-menu:hover,
.nav__buttons-menu.change-bg {
  background-color: var(--yellow);
}

.bar-1,
.bar-2 {
  width: 20px;
  height: 1.6px;
  background-color: var(--white);
  transition: all var(--transition);
}

.nav__buttons-menu:hover .bar-1,
.nav__buttons-menu:hover .bar-2 {
  background-color: var(--dark-hard);
}

.bar-1.active {
  transform: translate(0, 1px) rotate(-45deg);
  background-color: var(--dark-hard);
}

.bar-2.active {
  transform: translate(0, -9px) rotate(45deg);
  background-color: var(--dark-hard);
}

.mobile__navigation-container ul {
  display: none;
}

.mobile__navigation-container.active ul {
  display: block;
}

.mobile__navigation-container ul li {
  border-block-end: 0.5px solid var(--dark-light);
}

.mobile__navigation-container ul li:first-child {
  border-inline-start: 4px solid var(--yellow);
}

.mobile__navigation-container ul li:first-child a {
  padding-inline-start: calc((var(--padding-inline) * 2) - 4px);
}

.mobile__navigation-container ul li a {
  width: 100%;
  padding-inline: calc(var(--padding-inline) * 2);
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--transition);
}

.mobile__navigation-container ul li a:hover {
  background-color: var(--dark-hover);
}
/* end header nav */

/* 
==============================
  MAIN
==============================
*/
.main {
  font-size: 0.9rem;
}

.main > * {
  margin-block-start: var(--margin-bottom);
}

/* banner section */
.banner__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.banner__card-big {
  border-radius: var(--radius) var(--radius) 0px 0px;
  overflow: hidden;
}

.card__txt {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.banner__card-small {
  position: relative;
  border-radius: var(--radius);
  overflow: hidden;
}

.banner__card-small__txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--overlay-bg);
}
/* end banner section */

/* three cards section */
.three-cards__section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.three__cards-card {
  background-color: var(--dark-hard);
}

.card {
  border-radius: var(--radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition);
}

.card:hover {
  transform: translateY(-8px);
}
/* end three cards section */

/* featured */
.featured__section {
  background-color: var(--dark-hard);
  padding-block: var(--margin-bottom);
}

.featured__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.featured__cards-card {
  background-color: var(--dark-medium);
  border-radius: var(--radius);
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition);
}

.featured__cards-card:hover {
  transform: translateY(-8px);
}
/* end featured */

/* help */
.help__container {
  background-color: var(--yellow);
  padding: 24px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.help__button {
  background-color: var(--dark-medium);
  padding: 14px;
  border-radius: var(--radius-smaller);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: var(--yellow);
  border: 1px solid var(--dark-medium);
  transition: background-color var(--transition), color var(--transition);
}

.help__button:hover {
  background-color: var(--yellow);
  color: var(--dark-medium);
}

.help__button-txt {
  font-weight: 500;
}
/* end help */

/* 
==============================
  FOOTER
==============================
*/

/* 
==============================
  BREAKPOINTS
==============================
*/
@media (min-width: 600px) {
  .banner__container {
    flex-direction: row;
    gap: 20px;
  }

  .three-cards__section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .three__cards-card {
    width: calc((100% - 20px) / 2);
  }

  .featured__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .featured__cards-card {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 1000px) {
  :root {
    --margin-bottom: 46px;
  }

  .nav__list {
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav__list ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav__list li {
    height: 100%;
    padding-inline: var(--padding-inline);
    transition: background-color var(--transition);
  }

  .nav__list li:hover {
    background-color: var(--dark-hover);
  }

  .nav__list li a {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .nav__list li:first-child {
    border-block-end: 4px solid var(--yellow);
  }

  .nav__list li:first-child a {
    transform: translateY(3px);
  }

  .nav__buttons {
    width: 64px;
  }

  .nav__buttons-menu {
    display: none;
  }

  .banner__card-big {
    width: calc((100% / 3) * 2);
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
  }

  .banner__card-big__img {
    width: 100%;
    height: 100%;
  }

  .banner__card-big__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner__card-big__txt {
    width: 35%;
    height: fit-content;
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 25%;
    background-color: var(--overlay-bg);
    border-radius: var(--radius-small);
  }

  .banner__card-small {
    width: calc((100% - 40px) / 3);
  }

  .three__cards-card {
    width: calc((100% - 40px) / 3);
  }

  .featured__cards-card {
    width: calc((100% - 60px) / 4);
  }

  .help__container {
    flex-direction: row;
    width: 100%;
  }

  .help__button {
    width: calc((100% - 40px) / 3);
  }
}
